* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

#contaniner {
  padding: 20px;
  max-width: 1024px;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 15px;
}

p {
  line-height: 30px;
}

table {
  table-layout: fixed;
  white-space: nowrap;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
}

tbody tr:hover {
  background: #ddd;
}

tr {
  border-bottom: 1px solid #ddd;
}